form.signup,
form.login {
  margin-top: 50px;
}
body {
  /* background-image: url('/public/images/login2.jpeg');
  /* color: white; */
  /* height: 100%;
  background-size: cover;
  background-position: center;  */
  background-color: black;
}
h2,
p {
  color: white;
}
.form-group {
  color: black;
  background: rgb(109, 106, 102);
}
h3 {
  color: black;
}

#title {
  color: #66fcf1;
  font-family: "Montserrat", sans-serif;
  margin-left: 90px;
}

#logopic {
  margin-left: 125px;
}

.form-group {
  background-color: black;
  color: #c5c6c7;
}

#button {
  color: #1f2833;
  /* background-color: #1F2833; */
}

#password-input {
  color: #66fcf1;
  background-color: #1f2833;
}

#email-input {
  color: #66fcf1;
  background-color: #1f2833;
}
#class {
  background-color: black;
}
